<VirtualHost *:{{ http_port|default('80') }}>
    ServerAdmin webmaster@{{ domain }}
    ServerName {{ domain }}
    ServerAlias www.{{ domain }}
    DocumentRoot /var/www/{{ app_name }}/public
    <Directory /var/www/{{ app_name }}/public>
        AllowOverride All
        Order Allow,Deny
        Allow from All
    </Directory>
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>